<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2">
     <h3>Listings Details :</h3>
      </div>
    <div class="card col-6 offset-2 show-card" >
  <img src="<%= mylist.image ? mylist.image.url : '' %>" class="card-img-top show-img" alt="..." >

  <div class="card-body">
    <p class="card-text"><b> <%= mylist.title %></b>
   <br> <%=mylist.description %>
   
<br>&#8377;<%= mylist.price ? Number(mylist.price).toLocaleString("en-IN") : "0" %>/night    <br><%=mylist.location %>
    <br><%=mylist.country %>
</p>

  </div>
  <br><br>
  <div class="btns">
        <form method ="get" action="/listings/<%= mylist._id%>/edit"><button class="btn btn-dark  offset-1 ">Edit</button></form>
        
        
        <form method ="post" action="/listings/<%= mylist._id%>?_method=DELETE"><button class="btn btn-danger offset-5">Delete</button></form>
        </div>
   
</div>

        
</div>

